body {
    display: flex;
}

.open-weather {
   


}

.main-weather-container {
    border: 1px solid black;
    border-radius: 1em;
}

#crtWeatherContainer{
    border: 1px solid black;
    border-radius: 1em;
    width: 25%;
}

.results-based-container{
    border: 1px solid black;
    border-radius: 1em;
}

.upper {
    display: flex;
}

#dlyWeatherContainer {
    width: 40em;
    display: flex;
    justify-content: space-between;
}

.daily-weather-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.temps-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}