body {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 0em;
}

.main-weather-container {
    border: 1px solid black;
    border-radius: 1em;
    width: 45em;
    margin: 0 auto;
    padding: 1em;
}

.open-weather {
    border: 1px solid black;
    border-radius: 1em;
}

.current-stats {
    display: inline-flex;
    margin: 0;
}

.resultP {
    margin: 0;
}

.weather-strip-container {
    position: relative;
    /* width: 100%; */
}

#crtWeatherContainer{
    display: flex;
    border: 1px solid black;
    border-radius: 1em;
    width: 18em;
    padding: 1em;
}

.results-based-container{
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
}

.upper {
    display: flex;
    justify-content: space-between;
}

#dlyWeatherContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.daily-weather-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.temps-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}